@using PhoneReclaim.Controllers;
@using PhoneReclaim.Data.Models;
@using Microsoft.AspNetCore.Identity

@inject UserManager<AppUser> _usermanager
@inject PhoneReclaimDb _db
@model List<WishlistItem>
    @{
      ViewData["Title"]="Wish List";
    }
    <h5 class="mb-5 text-dark font-monospace">Wished Products</h5>
@if(Model.Count > 0)
{
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var product in Model)
        { 
            <div class="col">
                <div class="card h-100">
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                         data-mdb-ripple-color="light">
                            <a href="/home/getproductbyid/@product.Product.Id"><img src="@product.Product.ImagePath" class="card-img-top img-fluid" style="height: 200px;" /></a>
                        <a href="/home/getproductbyid/@product.Product.Id">
                            <div class="mask">
                                <div class="d-flex justify-content-start align-items-end h-100">
                                    <h5><span class="badge ms-2" style="background: green;">@product.Product.Condition</span></h5>
                                </div>
                            </div>
                            <div class="hover-overlay">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </div>
                        </a>
                    </div>
                    <div class="card-body">
                        <a class="text-decoration-none text-dark font-monospace" href="/home/getproductbyid/@product.Product.Id" class="text-reset">
                            <h5 class="card-title">@product.Product.Name</h5>
                        </a>
                        <a class="text-decoration-none text-secondary font-monospace" href="/home/getproductbyid/@product.Id" class="text-reset">
                            <p>@product.Product.Brand</p>
                        </a>
                        <p class="text-secondary">$@product.Product.Price</p>
                         @if (User.Identity.IsAuthenticated)
                            {
                                if (WishlistHelper.IsInWishlist(product.Product.Id, _usermanager, _db, User))
                                {
                                    <form asp-action="Toggle" asp-controller="Home" method="post">
                                        <input type="hidden" name="productId" value="@product.Product.Id" />
                                        <button type="submit" class="btn btn-danger">Remove from Wishlist</button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-action="Toggle" asp-controller="Home" method="post">
                                        <input type="hidden" name="productId" value="@product.Product.Id" />
                                        <button type="submit" class="btn btn-primary">Add to Wishlist</button>
                                    </form>
                                }
                            }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

}
else
{
    <p>No results found.</p>
}
